*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url(../img/fondo0.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    height: 43.5em;
    width: 100%;
    
    
    
}
#comienzo{
    margin-right: 19em;
    height: 1em;
    width: 14em;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
    font-family: 'Press Start 2P', cursive;
    -webkit-box-shadow: -22px -21px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -22px -21px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -22px -21px 5px 0px rgba(0,0,0,0.75);
}
#comienzo:hover{
    background-color: black;
    color: rgb(196, 191, 191);
    font-family: 'Press Start 2P', cursive;

}
.pantalla1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo\ de\ pantalla\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 43.5em;
   
}
.eleccion{
    height: 2em;
    width: 39em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
    font-family: 'Press Start 2P', cursive;

}
.luchadores {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    
}

.cuadrosLuchadores {
    margin: 2em;
    height: 13em;
    width: 6.5em;
    border-radius: 5%;
}
.cuadrosLuchadores:hover{
    -webkit-transform: scale(1.2);
}
.foto2 {
    margin: 2em;
    height: 13em;
    width: 6.5em;
    border-radius: 5%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);

}
.caracteristicas{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    margin-right: 2em;

}
.caracteristicas1{
    height: 14em;
    width: 9.5em;
    font-family: 'Press Start 2P', cursive;
    margin: 1em;
    font-size: 90%;
    text-align: center;
    -webkit-box-shadow: -30px 23px 41px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -30px 23px 41px -6px rgba(0,0,0,0.75);
    box-shadow: -30px 23px 41px -6px rgba(0,0,0,0.75);
    
    
}
#mensaje{
    color: red;
    font-size: 2em;
    margin-top: 2em;
}

#mensaje2{
    margin-top: 0.5em;
    font-family: 'Ultra', serif;
    color: black;
    text-align: center;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
    width: 42em;
    background-position: center;
    font-size: 2em;
}
.guerrerosCombate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/campo\ de\ batalla.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 43.5em;
    width: 100%;
    

}
#fondoPantalla2{
    width: 100%;
    position: absolute;
}
.reunidos1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13em;
    margin-right: 5em;
    
}
.guerrero1{
    
    height: 14em;
    width: 12em;
}
.reunidos2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13em;
    margin-left: 5em;
    
}
.guerrero2{
    
    height: 14em;
    width: 12em;
}
.botonAtacar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 13.5em;
    margin-left: 3.5em;
    margin-right: 3.5em;

}
.puño{
    border-radius: 50%;
    height: 5em;
    width: 5em;
}
.contieneBarra1{
    margin-bottom: 2em;   
}
.contieneBarra2{
    margin-bottom: 2em;   
}
progress[value] {
    width: 10em;
    height: 1em;
    border: none;
    
    
}
progress[value]::-webkit-progress-bar {
    background-color: darkred;
}
progress[value]::-webkit-progress-value {
    background-color: gold;
}
.pantalla3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo\ lucha.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 43.5em;
    
}
.generalPantalla3{
    display:flex;
    flex-direction: column;
}
.winner1{
    height: 14em;
    width: 12em;
    margin-left: -12em;
}
.winner2{
    height: 14em;
    width: 12em;
    margin-left: -12em;
}
#fraseWinner{
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    margin-left: -7em;
    margin-bottom: 1em;
}
.resetBtn{
    font-size: 1.5em;
    margin-top: 20em;   
    padding: 0.5em;
    color:black;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
    font-family: 'Press Start 2P', cursive;
    
}
/*.resetBtn:hover{
    background-color: black;
    
    color: rgb(218, 132, 20);
    border: black;
}*/

